.modal-dialog {
    position: absolute;
    left: -9999px;
}
#usersContainer {
    display: none!important;
}
#header {
    display: none!important;
}
.open #chatContainer, #chatContainer {
    height: calc(100vh - 00px) !important;
}
div.message img.userItem {
    height: 30px!important;
}
.userItem {
    font-size: 0.8em;
}
div.message div.content {
    font-size: 0.75em;
    padding: 4px 10px;
    margin: 4px 0px;
}
#tabs .nav-tabs {
    display: none!important;
}
#tabs .tab-content {
    height: 100%!important;
}

